.idea/
batik-all/target/
batik-anim/target/
batik-awt-util/target/
batik-bridge/target/
batik-codec/target/
batik-constants/target/
batik-css/target/
batik-dom/target/
batik-ext/target/
batik-extension/target/
batik-gui-util/target/
batik-gvt/target/
batik-i18n/target/
batik-parser/target/
batik-rasterizer-ext/target/
batik-rasterizer/target/
batik-script/target/
batik-slideshow/target/
batik-squiggle-ext/target/
batik-squiggle/target/
batik-svg-dom/target/
batik-svgbrowser/target/
batik-svggen/target/
batik-svgpp/target/
batik-svgrasterizer/target/
batik-swing/target/
batik-test/target/
batik-transcoder/target/
batik-ttf2svg/target/
batik-util/target/
batik-xml/target/
batik-anim/batik-anim.iml
batik-awt-util/batik-awt-util.iml
batik-bridge/batik-bridge.iml
batik-codec/batik-codec.iml
batik-constants/batik-constants.iml
batik-css/batik-css.iml
batik-dom/batik-dom.iml
batik-ext/batik-ext.iml
batik-extension/batik-extension.iml
batik-gui-util/batik-gui-util.iml
batik-gvt/batik-gvt.iml
batik-i18n/batik-i18n.iml
batik-parser/batik-parser.iml
batik-rasterizer-ext/batik-rasterizer-ext.iml
batik-rasterizer/batik-rasterizer.iml
batik-script/batik-script.iml
batik-slideshow/batik-slideshow.iml
batik-squiggle-ext/batik-squiggle-ext.iml
batik-squiggle/batik-squiggle.iml
batik-svg-dom/batik-svg-dom.iml
batik-svgbrowser/batik-svgbrowser.iml
batik-svggen/batik-svggen.iml
batik-svgpp/batik-svgpp.iml
batik-svgrasterizer/batik-svgrasterizer.iml
batik-swing/batik-swing.iml
batik-test/batik-test.iml
batik-transcoder/batik-transcoder.iml
batik-ttf2svg/batik-ttf2svg.iml
batik-util/batik-util.iml
batik-xml/batik-xml.iml
