.idea/
batik-all/target/
batik-anim/target/
batik-awt-util/target/
batik-bridge/target/
batik-codec/target/
batik-constants/target/
batik-css/target/
batik-dom/target/
batik-ext/target/
batik-extension/target/
batik-gui-util/target/
batik-gvt/target/
batik-i18n/target/
batik-parser/target/
batik-rasterizer-ext/target/
batik-rasterizer/target/
batik-script/target/
batik-slideshow/target/
batik-squiggle-ext/target/
batik-squiggle/target/
batik-svg-dom/target/
batik-svgbrowser/target/
batik-svggen/target/
batik-svgpp/target/
batik-svgrasterizer/target/
batik-swing/target/
batik-test/target/
batik-transcoder/target/
batik-ttf2svg/target/
batik-util/target/
batik-xml/target/
